<section id="appointment" class="col-padtop wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-4">
                <div class="responsive-object">
                    <img src="assets/images/nailandarts/dreamstime_xxl_46251997.jpg" caption="false" />
                </div>
            </div>
            <div class="col-md-5 col-lg-7 pull-right">
                <!-- <div class="section-title">
                    <h2>Appointment</h2>
                   
                </div> -->
                
                <div>
                    <h3>Walks- In Welcome or Book online here.</h3>
                    <br>
                    <p><span>To ensure every guest is able to enjoy a complete and relaxing <strong>nail salon</strong> and spa
                            experience, we recommend appointments be made in advance. However, walk-ins are welcome and will be
                            accommodated on a first-come first-served basis. We appreciate your business and
                            patience.</span><br /><br />Call me : <ins>727-999-1581</ins> or fill out our online booking</p>
                    <p>& equiry form and we’ll contact you</p>
                    <div
                        class="booksy-widget-container booksy-widget-container-dialog booksy-widget-container-default booksy-widget-container-en" style="display: block !important;">
                        <div class="clearfix booksy_book_click event_hover">

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>