<section id="services" class="col-padtop">
    <div class="container">
        <div class="row marbottom">
            <div class="col-sm-12 col-md-7 col-lg-5 pull-right wow fadeInUp">
                <h2>Our Services</h2>
                <p class="pull-right">Our classic pedicure service includes: trim, shape & clean underneath nails, remove ingrown toes nail if needed, cuticle detail, callous chemical treatment, heels scrub, Spay solution that eases muscle pain, 6 minutes Organic warm lotion massage, Soft Hot towels, <strong>and last but not least:</strong> Nuskin Sole Solution apply on your heels: (30-45min)
                <br><br>
                All mani & pedi comes with an upgraded service with choices between our certified Pure Organic spa products, Nuskin
                natural spa product or Natural Botanical Escape's Herbal Spa product. Each of our products have many different scents &
                benefits to choose from.
</p>
            </div>
        </div>
        <div class="row marbottom wow fadeInUp">
            <div class="col-sm-12 col-md-7 col-lg-7 col-padright-none">
                <div class="subtitle">
                    <h2 class="titile col-xs-offset-1 col-sm-offset-0 col-md-offset-1 ">organic spa manicures & pedicures</h2>
                </div>
                <img src="http://www.placehold.it/684x394" class="img-responsive" alt="organic spa manicures & pedicures">
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 col-padleft-none">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>organic spa manicures & pedicures</th>
                            <th>Price</th>
                            <!-- <th>MENS</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Classic Spa Manicure</td>
                            <td>$15</td>
                            <!-- <td>$70</td> -->
                        </tr>
                        <tr>
                            <td>Deluxe Spa Manicure</td>
                            <td>$15</td>
                            <!-- <td>$80</td> -->
                        </tr>
                        <tr>
                            <td>Hot Stone Spa Manicure</td>
                            <td>$35</td>
                            <!-- <td>$100</td> -->
                        </tr>
                        <tr>
                            <td>Shellac Gel No-chip Manicure</td>
                            <td>$35</td>
                            <!-- <td>$POA</td> -->
                        </tr>
                        <tr>
                            <td>Deluxe Shellac Gel No Chip Manicure</td>
                            <td>$45</td>
                            <!-- <td>$</td> -->
                        </tr>
                        <tr>
                            <td>SNS Dipping powder</td>
                            <td>$35</td>
                            <!-- <td>$</td> -->
                        </tr>
                        <tr>
                            <td>SNS Dipping powder /w Manicure</td>
                            <td>$45</td>
                            <!-- <td>$</td> -->
                        </tr>
                        <tr>
                            <td>Classic / Regular pedicure (6 min massage)(27-35 Min)</td>
                            <td>$27</td>
                            <!-- <td>$</td> -->
                        </tr>
                        <tr>
                            <td>Incense Deluxe Spa Pedicure (15 Min massage)(40 Min)</td>
                            <td>$36</td>
                            <!-- <td>$</td> -->
                        </tr>
                        <tr>
                            <td>Jelly Spa Pedicure (25 Min massage) (50 Min)</td>
                            <td>$46</td>
                            <!-- <td>$</td> -->
                        </tr>
                        <tr>
                            <td>Hot Stone Spa Pedicure (25 Min massage (50 Min)</td>
                            <td>$46</td>
                            <!-- <td>$</td> -->
                        </tr>
                        <tr>
                            <td>Classic Spa Pedicure /w Gel Polish (60 Min)</td>
                            <td>$46</td>
                            <!-- <td>$</td> -->
                        </tr>
                        <tr>
                            <td>Organic Volcano (with CBD available) Pedicure (35 min massage) (55 Min)</td>
                            <td>$51</td>
                            <!-- <td>$</td> -->
                        </tr>
                        <tr>
                            <td>HEAVENLY SPA Pedicure (45 min massage) (60 min)</td>
                            <td>$61</td>
                            <!-- <td>$</td> -->
                        </tr>
                        <tr>
                            <td>ULTIMATE ORGANIC & ESSENTIAL OIL Pedicure (60min massage)(70 Min)</td>
                            <td>$80</td>
                            <!-- <td>$</td> -->
                        </tr>
                        <tr>
                            <td>Classic spa Mani & Pedi (combo special) (60 Min)</td>
                            <td>$40</td>
                            <!-- <td>$</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row marbottom wow fadeInUp">
            <div class="col-sm-12 col-md-7 col-lg-7 col-padleft-none displayhide">
                <div class="subtitle">
                    <h2 class="titile col-xs-offset-2">Artificial Nails</h2>
                </div>
                <div class="subtitle">
                    <h2 class="color">Artificial Nails</h2>
                </div>
                <img src="http://www.placehold.it/684x394" class="img-responsive" alt="Artificial Nails">
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 col-padright-none">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Artificial Nails</th>
                            <th>New</th>
                            <th>Fill</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bigw">Acrylic</td>
                            <td class="smallw">$27</td>
                            <td>$17</td>
                        </tr>
                        <tr>
                            <td>Gel powder w/ Regular polish</td>
                            <td>$35</td>
                            <td>$25</td>
                        </tr>
                        <tr>
                            <td>Gel Powder w/ Gel No-chip polish</td>
                            <td>$45</td>
                            <td>$35</td>
                        </tr>
                        <tr>
                            <td>Pink & White powder</td>
                            <td>$50</td>
                            <td>$40/25</td>
                        </tr>
                        <tr>
                            <td>Pink Powder</td>
                            <td>$60</td>
                            <td>$50/30</td>
                        </tr>
                        <tr>
                            <td>Pink & White Liquid or Poly Gel</td>
                            <td>$60</td>
                            <td>$45</td>
                        </tr>
                        <tr>
                            <td>Liquid or Poly Gel w/ Shellac Gel color</td>
                            <td>$45</td>
                            <td>$40</td>
                        </tr>
                        <tr>
                            <td>SNS dipping powder Pink & White</td>
                            <td>$45</td>
                            <td>$40</td>
                        </tr>
                        <tr>
                            <td>Acrylic powder color</td>
                            <td>$45</td>
                            <td>$40/$25</td>
                        </tr>
                        <tr>
                            <td>Ombré Pink & White (or any other color)</td>
                            <td>$50</td>
                            <td>$40</td>
                        </tr>
                        <tr>
                            <td>Shape: Round, Square & Squoval:</td>
                            <td>$free</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Shape: Almond, Oval, Stiletto & Ballerina(coffin):</td>
                            <td>$5</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Swarovski crystal:</td>
                            <td>$7+</td>
                            <td>$15+</td>
                        </tr>
                        <tr>
                            <td>Chrome Pigment Powder:</td>
                            <td>$5+</td>
                            <td>$15+</td>
                        </tr>
                        <tr>
                            <td>Gel polish Cat Eye effect:</td>
                            <td>$5+</td>
                            <td>$10+</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-padleft-none displayvisible">
                <div class="subtitle">
                    <h2 class="titile col-xs-offset-2">Artificial Nails</h2>
                </div>
                <img src="http://www.placehold.it/684x394" class="img-responsive" alt="Colour">
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-sm-12 col-md-7 col-lg-7 col-padright-none">
                <div class="subtitle">
                    <h2 class="titile col-xs-offset-1">STYLE</h2>
                </div>
                <img src="http://www.placehold.it/684x394" class="img-responsive" alt="Style">
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 col-padleft-none">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>STYLE</th>
                            <th>PRICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Blowdrying - Short</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <td>Blowdrying - Medium</td>
                            <td>$70</td>
                        </tr>
                        <tr>
                            <td>Blowdrying - Long</td>
                            <td>$80</td>
                        </tr>
                        <tr>
                            <td>Formals</td>
                            <td>$130</td>
                        </tr>
                        <tr>
                            <td>Bride</td>
                            <td>$180</td>
                        </tr>
                        <tr>
                            <td>Style</td>
                            <td>$</td>
                        </tr>
                        <tr>
                            <td>Style</td>
                            <td>$</td>
                        </tr>
                        <tr>
                            <td>Style</td>
                            <td>$</td>
                        </tr>
                        <tr>
                            <td>Style</td>
                            <td>$</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
