<section class="testimonialdiv wow fadeInUp">
    <div class="container">
        <div class="testimonilabg">
            <h2>Testimonials</h2>
            <div id="myCarousel-2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="img-left"><img src="assets/images/nailandarts/testimonials/anny-fernandez.jpg" alt="Testimonial"
                                class="img-responsive">
                        </div>
                        <div class="col-pad4 tbg-white">
                            <h4>Anny Fernandez</h4>
                            
                            <p>
                                Update: came back to salon today after owner himself reached out and my experience
                            was spectacular!! My pedicure was the best ever, Jackie gives the best pedicures. And Bebe did
                            my nails and they turned out so beautiful!!! The salon is always clean and the staff is very
                            friendly. The customer service is excellent and the owner really cares about his customers. He
                            goes above and beyond to make sure his clients are happy.
                            </p>
                        </div>
                    </div>
                   
                    <div class="item ">
                        <div class="img-left"><img src="assets/images/nailandarts/testimonials/lauren-taylor.jpg" alt="Testimonial"
                                class="img-responsive">
                        </div>
                        <div class="col-pad4 tbg-white">
                            <h4>Lauren Taylor</h4>
                    
                            <p>
                                I love this place &amp; they definitely accommodate you if you have any issues. I have had
                                fantastic work done here several times that several people compliment when I leave the salon.
                                They have the place set up beautifully with such a comfortable vibe. Vina and Mimi are my two go
                                tos and they are amazing!
                            </p>
                        </div>
                    </div>

                    <div class="item ">
                        <div class="img-left"><img src="assets/images/nailandarts/testimonials/angelica-bennett.png" alt="Testimonial"
                                class="img-responsive">
                        </div>
                        <div class="col-pad4 tbg-white">
                            <h4>Angelica Bennett</h4>
                    
                            <p>
                                vina is an angel who fell from the sky. She was so professional, advised me on what type of
                                eyebrows looked best on me as though I don&#39;t have any. We both agreed to what she decided
                                and it came out so amazingly beautiful. I&#39;m so happy I found her, after doing a lot of
                                research I chose her and I&#39;m so happy i did. It&#39;s hard to find someone who truly cares about the
                                customer and what they want. Thank you sky for being amazingly talented. I&#39;ll see you
                                soon!!
                            </p>
                        </div>
                    </div>

                    <div class="item ">
                        <div class="img-left"><img src="assets/images/nailandarts/testimonials/stephany-s-rozar.jpg" alt="Testimonial"
                                class="img-responsive">
                        </div>
                        <div class="col-pad4 tbg-white">
                            <h4>Stephany S. Rozar</h4>
                    
                            <p>
                                This is by far the best nail place. I&#39;ve had the opportunity to have different nail techs
                                do my nails and I never leave disappointed. They are very nice and offer refreshments. They take
                                their time and are very thorough with their job. It is my go to place and would recommend hands down
                            </p>
                        </div>
                    </div>

                </div>
                <div class="carousel-control"> <a class="left" href="#myCarousel-2" role="button" data-slide="prev"></a>
                    <a class="right" href="#myCarousel-2" role="button" data-slide="next"></a>
                </div>
            </div>
        </div>
    </div>
</section>