<!-- Slider Section -->
<app-slider-section></app-slider-section>
<!-- End Slider Section-->

<!-- about-us Section -->
<app-about-us-section></app-about-us-section>
<!-- End about-us Section-->

<!-- Teams Section -->
<app-teams-section></app-teams-section>
<!-- End Teams Section-->

<!-- Services Section-->
<app-services-section></app-services-section>
<!-- End Services Section-->

<!-- appointment Section-->
<app-appointment-section></app-appointment-section>
<!-- End appointment Section-->

<!-- Portfolio Section-->
<app-portfolio-section></app-portfolio-section>
<!-- End portfolio Section-->

<!-- Promotions Section-->
<app-promotions-section></app-promotions-section>
<!-- End Promotions Section-->

<!-- Video Section-->
<app-video-section></app-video-section>
<!-- End Video Section-->

<!-- Testimonials Section-->
<app-testimonials-section></app-testimonials-section>
<!-- End Testimonials Section-->

<!-- Contact-us Section-->
<app-contactus-section></app-contactus-section>
<!-- End Contact-us Section-->
